*, * ::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
}
.heading {
    position: relative;
    top: 40px;
    font-size: 32px;
    font-weight: 600;
    left: 10px;
}
#gray-button {
    background-color: rgb(53, 47, 47);
}
#orange-button {
    background-color: orange;
}
#green-button {
    background-color: green;
}
.calculator-grid {
    padding-bottom: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    min-width: 100vh;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: minmax(120px,auto) repeat(6,60px);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 20px;
    border: 1px solid rgb(41, 35, 35) ;
    color: white;
    background-color: rgb(100, 92, 92);
}
.span-two {
    grid-column: span 2;
    border-bottom-left-radius: 15px;
}
.screen {
    grid-column: 1/ -1;
    background-color: #101314;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.circles {
    display: flex;
    
}
.circle1 {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: rgb(240, 46, 32);
    border-radius: 50%;
    margin-left: 6px;
    top: 57px;
    right: 170px;
    border-style: none;
}
.display {
    color: white;
    font-size: 2.5rem;
}
